$background-color: #1e1e1e;
$primary-color: #2e2e2e;
$container-background-color: #111111;
$text-color: #fff;

$font-family: Arial, Helvetica, sans-serif;
$page-max-width: 1280px;
$card-max-width: 500px;
$main-paddings: 25px;
